.content{
    margin: 0 auto;
    width:100%;
    height: auto;
    z-index: 998;
}
.content #webShareBox {
    width: 650px;
    height: auto;
    margin-top: 50px;
}
.content #webShareBox li{
    height: 200px;
    border-bottom: 1px solid lightgray;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 20px;
    overflow: hidden;
    padding-right: 5px;
}

.content #webShareBox li:hover{
    box-shadow: 5px 5px 5px lightgray;
    border-bottom: 2px solid palevioletred;
}
.content #webShareBox li a{
    font-size:22px;
    font-weight: bold;
}

.content #webShareBox  li>p>span{
    display: inline-block;
    height: 20px;
    width: 5px;
    background-color:palevioletred;
    margin-right: 20px;
}

.content #webShareBox li:hover a{
    color: rgb(246,90,138);
}
.content #webShareBox li img{
    float: left;
    display: inline-block;
    width: 200px;
    height: 150px;
    margin-right: 20px;
    transition: all linear 1s;
    z-index: -1;
}
.content #webShareBox li img:hover{
    transform: scale(1.1);
}

#webShareBox .readBtn{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color:rgba(219,112,147,0.9);
    color: white;
    font-size: 16px;
    border-radius: 10px;
    float:right;
}
#webShareBox .readBtn:hover{
    background-color:palevioletred;
}

